body,
h1,
h2,
h3,
h4,
h5,
p,
a,
img,
ul,
li,
blockquote {
  margin: 0px;
  padding: 0px;
}

body {
  margin-bottom: 500px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  border-radius: 4px;
}
